* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.navbar{
    background-color: #3A98B9;
}

.navbar h1 {
    background-color: #3A98B9;
    font-weight: 700;
    margin: 10px;
    color: #FFF2F2;
}

.add-job-button {
    margin-right: 10px;
}

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    background-color: #3A98B9;
}

.job {
    color: #FFF1DC;
    margin-top: 1rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.job-top {
    float: right;
}

.job-content {
    margin-top: 2rem;
}

.job-bottom {
    display: flex;
    justify-content: space-between;
} 

/* .job-bottom-icons {
    display: flex;
    justify-content: space-between;
} */

/* .icons {
    padding-left: 20px;
} */

/* .add-job-button {
    display: flex;
    justify-content: center;
    margin: 10px;
} */

form input {
    display: inline-block;
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

