* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: beige;
    top: 0;
    margin: auto;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header div {
    margin-top: auto;
    margin-bottom: auto;
}

.header-buttons {
    display: flex;
}

.add-job-button {
    margin-right: 10px;
}

footer {
    background-color:blanchedalmond;
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

.job {
    background-color: aquamarine;
    border-radius: 7px;
    position: relative;
    margin: 0px 10px;
    padding: 10px;
}

.job-top {
    display: flex;
    justify-content: space-between;
}

.job-bottom {
    display: flex;
    justify-content: space-between;
}

.job-bottom-icons {
    display: flex;
}

.icons {
    padding-left: 20px;
}

.filter {
    position: relative;
    margin: 100px 10px 0px;
}